.auth-container {
  background-image: url(./assets/imag/bg-auth.png);
  background-size: cover;
  background-position: center center;
}
.bg-overlay {
  background: linear-gradient(45deg, rgba(47, 140, 97, 0.575), rgba(0, 0, 0, 0.89));
  height: 100vh;
}
.btn {
    background-color: #4AA35A;
    color: white;
    font-size: 20px;
}